<template>
  <h1 class="ip">第一个vue3页面</h1>
  <p>请输入你要欢迎的人：<input v-model="username" type="text"></p>
  <p>欢迎你：{{ username }}</p>
  <button @click="getValueLength">点击获取长度</button>
  <p>用户名的长度：{{ valueLength }}</p>
  <p>{{ address[0] }}</p>
  <p v-for="(value, index) in address" :key="index">{{ value }}</p>

  <div v-for="(value, index) in address" :key="index">
    <p>这是循环出来的,{{ value }}</p>
  </div>
  <p>{{ userinfo.username }},{{ userinfo.age }}</p>
</template>

<script>
import { ref } from 'vue'
export default {
  setup() {
    const username = ref('小贝')
    const valueLength = ref(0)
    const address = ref(["成都", "武汉", "西安"])
    const userinfo = ref({
      username: 'zhangsan',
      age: 23,

    })
    function getValueLength() {
      valueLength.value = username.value.length
    }
    return {
      username,
      valueLength,
      getValueLength,
      address,
      userinfo
    }
  }
}
</script>

<style>
#ip {
  margin-top: 50px;
}
</style>
