<template>
  <h2 @click="forValue">学生信息管理系统</h2>
  <p>学生姓名：<input type="text" v-model="studentInfo.name">,学生年龄：<input type="text" v-model="studentInfo.age">
    <button class="btn" @click="add">新增学生</button>
  </p>
  <li v-for="(studentInfo, index) in studentList" :key="index">学生姓名：{{
    studentInfo.name
  }},{{ studentInfo.name.length }}
    学生年龄：{{ studentInfo.age < 18 ? "未成年" : studentInfo.age > 60 ? "退休人员:" : studentInfo.age }} &nbsp;<button
        @click="del(index)">
        删除</button>

  </li>

</template>

<script>
import { ref, reactive } from 'vue'
export default {
  // 表达式
  setup() {
    const num = ref(0)
    const studentList = reactive([{ name: "张三", age: 12 }])
    const studentInfo = reactive({
      name: '',
      age: ''
    })
    function add() {
      if (studentInfo.name == "" || studentInfo.age == "") {
        alert('输入的内容为空或者输入不全')
      }
      else {
        studentList.push({ ...studentInfo }); // 解构，换一个内存地址
        studentInfo.name = "";
        studentInfo.age = "";
      }
    }
    function del(index) {
      studentList.splice(index, 1)
    }
    function forValue() {
      for (const x in studentList) {
        console.log('循环出来的数据：', studentList[x]);
      }
    }
    forValue()
    return {
      studentList,
      studentInfo,
      add,
      del,
      num,
      forValue,
    }
  }
}
</script>

<style>
#ip {
  margin-top: 50px;
}

.btn {
  margin-left: 5px;
}
</style>
